.class-list {
    text-indent: 10px;
    list-style-type: none;
    margin-left: -40px;

}

.proficiency {
    margin: 5px;
    text-indent: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(218, 197, 171)
}

.additional-proficiency {
    margin: 5px;
    color: rgb(187, 187, 187);
}

aside {
    text-indent: 10px;
    float: right;
    min-width: 90%;
    min-height: 96vh;
}

.border {
    background-color: #282c34
}