.class-article {
    text-align: left;
    min-width: 50px;
    max-width: 10%;
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #202329;
}

.link-text {
    color: white;
}