.class-list {
    list-style-type: none
}

.proficiency {
    text-indent: 10px;
}

aside {
    text-indent: 10px;
    float: right;
    min-width: 90%;
    min-height: 96vh;
}

.border {
    background-color: #282c34
}