.nav-link {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
    text-decoration: none;
    font-size: min(10vw, 15px);
    color: white;
}

.navBar {
    background-color: #202329;
}

.active {
    color: rgb(255, 255, 255);
    background-color: #282c34;
}